main {
    background: url(../img/Cloudy.svg) no-repeat center center fixed;
    background-size: cover;
    height: 92vh;
}

 #comentario {
    width: 250px;
    padding-bottom: 100px;
    border: 1px solid #999;
    box-sizing: border-box;
}

td, tr, table {
    border: 1px solid black;
    margin-top: 20px;
    padding: 5px;
    margin-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
} 

.tituloDaPagina {
    margin-top: 2.5rem;
}

.tituloDaPagina h2 {
    text-align: center;
}

.imagensEsquerdaTitulo {
    width: 5%;
}

.imagensDireitaTitulo {
    width: 3%;
    background-color: aliceblue;
}

.carossel {
    background-color: currentColor;
    
}

.carousel {
    width: 50%;
    position: fixed;
}



body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}
