body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
    background-size: cover;
    background-position:left;
}

.intro_site{ 
    background: linear-gradient(50deg,#f8f8f8, rgb(226, 94, 94));
    background-size: cover;
}

.servicos {
   background: linear-gradient(50deg,#cecece, rgb(66, 37, 231));
   background-size: cover;
}


td, tr, table {
    border: rgb(27, 38, 99);
    margin-top: 20px;
    padding: 5px;
    margin-bottom: 40px;
}

.imagem_intro_site {
    width: 80%;
}

.textos_e_botao h5 {
    color:#ffffff ;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color:rgb(27, 38, 99);
} 

 #comentario {
    width: 250px;
    padding-bottom: 100px;
    border: 1px solid #999;
    box-sizing: border-box;
}

.tituloDaPagina h2 {
    margin-top: 5%;
    text-align: center;
    color:rgb(27, 38, 99);
}

.texto {
    text-align: center;
}

.avaliacoes h1 {
    font-size: 25px;
    text-align: center;
    color:rgb(27, 38, 99);
}

.imagens_servicos {
    border-style: solid;
    border-color: #000620;
    background-color: white;
    background-size: cover;
    height: 800px;
}

.imagens_servicos h1, h2, h3, h4, h5 {
    color:rgb(255, 255, 255);
}

.textos_e_botao {
    text-align: center;
    margin-top: 5%;
}

.textos_e_botao h3 {
    color:rgb(27, 38, 99);
}

.btn-custom {
    color: rgb(255, 255, 255);
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px; 
    padding: 10px 35px;
    margin: 0px 15px;
    text-transform: uppercase;
    transition: 0.4s, color 0.4s;
}

.btn-vermelho {
    background: rgb(226, 94, 94);
    margin-top: 2%;
}

.btn-vermelho:hover {
    background-color: rgb(27, 38, 99);
    color: rgb(253, 253, 253);
}

.texto_servico {
    text-align: center;
    border: solid;
    margin-top: 5%;
    background-color: aliceblue;
    border-radius: 20px 110px 14px 50px;
    margin-left: 10%;
    margin-right: 15%;

}

.texto_servico h3 {
    color: rgb(80, 8, 175);
}

.texto_servico h5 {
    color: rgb(0, 0, 0);
}

.titulo_servicos {
    color: #fff;
    text-align: center;
}


.reparo_img {
    width: 70%;
    margin-left: 30%;
}

.design_img {
    width: 70%;
    margin-left: 30%;
}

.velocidade_img {
    width: 70%;
    margin-left: 30%;
}

