.rodape {
    background: linear-gradient(50deg,#f8f8f8, rgb(226, 94, 94));
    border-radius:  10px 10px 0px 0px;}

.rodape li {
    text-decoration: none;
    transition: 0.3s;
}

.rodape li:hover {
    opacity: 1;
    color: rgb(226, 94, 94);
}

.conteudo {
    margin-top: 1%;
}

.rodape_letras h1, h2, h3, h4, h5, a, li, ul {
    color: rgb(14, 18, 41);
}

 
