.rodape {
    background-color: #000620;
    border: solid;
    border-color: #000620;
}

.rodape li {
    text-decoration: none;
    transition: 0.3s;
}

.rodape li:hover {
    opacity: 1;
    color: yellow;
}

.conteudo {
    margin-top: 2%;
}


